.player1board{
    float: left;
    border: 3px solid cornflowerblue;
}

.player2board{
    float: right;
    border: 3px solid rgb(216, 61, 33);
}

tr>td {
    border: 1px solid blueviolet;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;
}

footer{
    float: bottom;
}

progress{
    width:16%;
    background: lightgreen;
    border: none;
}

progress:hover{
    background: green !important;
}
